{% extends '::splash.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'UserBundle:Form:fields.html.twig' %}

{% block title %}{{ parent() }} -- Changement de mot de passe{% endblock %}

{% block body %}
    <div id="c-login">
        <div class="login-logo">
            <a href=""></a>
        </div>
        <div class="login-input">
            <h2>Changer votre mot de passe</h2>
            <p>Bot lane counter gank assassin baron split push penta leash quadra kite top penta pentakill pentakill zoning bait dunk fountain.</p>
            <div class="login-info login-change">
                {{ form_errors(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.second) }}
                <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST" id="login">
                    {{ form_widget(form.plainPassword.first,{'attr': {'placeholder': 'Nouveau mot de passe'}}) }}
                    {{ form_widget(form.plainPassword.second,{'attr': {'placeholder': 'Confirmation du nouveau mot de passe'}}) }}
                    {{ form_widget(form._token) }}
                    <a class="btn btn-default inline" id="formSubmit" href="#">Envoyer</a>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}